body {
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('worldcup.jpg');
}

li {
    list-style-type: none;
}

.title {
    color: #1010aa;
    font-size: 30px;
}

.nav-link {
    color: #1010aa !important;
}


/* dropdown details */

.dropbtn {
    border: none;
    background: none;
    color: #1010aa !important;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

.dropdown-items {
    color: green;
    font-size: 20px;
    text-shadow: 3px 3px 3px blue;
    margin-left: 30px;
}

.h1 {
    color: blue;
    text-shadow: 4px 4px 4px black;
}


/* about */

.about {
    width: 80%;
    background-color: rgba(240, 248, 255, 0.534);
    margin-top: 7%;
    margin-left: 13%;
}