    * {
        box-sizing: border-box;
    }
    
    .d-flex {
        display: flex;
    }
    
    .justify-content-center {
        justify-content: center;
    }
    
    .justify-content-between {
        justify-content: space-between;
    }
    
    .justify-content-evenly {
        justify-content: space-evenly;
    }
    
    .justify-content-around {
        justify-content: space-around;
    }
    
    body {
        display: flex;
        justify-content: center;
    }
    
    h1,
    h2,
    h3 {
        color: white;
        text-shadow: 2px 2px 5px red;
    }

    .sign-up-button{
        border: none;
        height: 36px;
        font-weight: bold;
        color: white;
        width: 65%;
        background-color: blue;
    }

    .login-button{
        border: none;
        height: 36px;
        font-weight: bold;
        color: white;
        width: 65%;
        background-color: blue;
    }